<p-card>
  <form class="container" [formGroup]="locationForm" (ngSubmit)="onSubmit()" >
    <!--<h6 for="name">Create Permission</h6>-->
    <label for="name">Address Setup</label>
    <hr>
    <div class="ui-g form-group ">
      <div class="ui-g-12">
        <!--<h6>Name</h6>-->
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          [(ngModel)]="editLocation.name"
          pInputText
          placeholder="Enter name"
          name="name"
          formControlName="name">
        <small *ngIf="!locationForm.controls['name'].valid && locationForm.controls['name'].touched">
          Name is required
        </small>
      </div>
      <div class="ui-g-12">
        <button class="submit-color" name="basic" pButton type="submit" label="Submit" style="margin-right: 1em"></button>
        <button class="cancel-color" name="basic" pButton type="button" label="Cancel"></button>
      </div>
    </div>
  </form>
</p-card>
