<p-card>
  <div *ngFor="let locationInput of locationInputs; let i = index">
    <div style="margin-top: 15px;">
      <label>{{locationInput.name}}</label>
    </div>
    <p-autoComplete
      [suggestions]="locationInput.locationDetails"
      (completeMethod)="searchLocation($event, i, locationInput)"
      [size]="30"
      placeholder="{{locationInput.name}}"
      [dropdown]="true"
      (onSelect)="selectLocation($event, i)"
      field="name">
    </p-autoComplete>
  </div>

  <div style="margin-top:15px; margin-bottom: 5px">
    <span>Enter New Location</span>
  </div>
  <div>
    <input type="text" pInputText [size]="30"/>
  </div>
  <div style="margin-top:15px; margin-bottom: 5px">
    <button class="submit-color" name="basic" pButton type="submit" label="Submit" style="margin-right: 1em"></button>
  </div>
</p-card>
