<div class="ui-g">
  <div class="ui-g-6">
    <div *ngFor="let location of printLocations">
      <p-panel class="custom-address-setup-p-panel">
        <p-header>
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{location.name}}</span>
          <button pButton  routerLink="/location-detail/{{location.id}}/create" type="button" icon="pi pi-plus" class="ui-button-success" style="float: right; margin-left: 0.5em"></button>
          <button pButton  type="button" icon="pi pi-times" class="ui-button-danger" style="float: right; margin-left: 0.5em"></button>
          <button pButton routerLink="/location/{{location.id}}/edit" type="button" icon="pi pi-pencil" class="ui-button-info" style="float: right"></button>
        </p-header>
      </p-panel>
    </div>
    <button routerLink="/location/create" pButton type="button" icon="pi pi-plus" class="ui-button-success"></button>
  </div>
  <div class="ui-g-6 ui-card-content">
    <router-outlet></router-outlet>
  </div>
</div>
<!--<div class="ui-g">-->
<!--<button routerLink="/address-setup/create" class="submit-color" name="basic" pButton type="submit" label="Add New" style="margin-right: 1em"></button>-->
<!--</div>-->

