/* You can add global styles to this file, and also import other style files */
body .custom-address-setup-p-panel .ui-panel-content {
  padding: 0.571em 1em;
  border: 0;
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  border-top: 0 none;
}

